# Time series

Source: https://medium.com/data-science-collective/a-unified-machine-learning-framework-for-time-series-forecasting-7f3971216ec1

In [1]:
from my_functs import Manipulate
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio # settings like template by default

pio.templates.default = 'plotly_dark' # default template
manipulate = Manipulate()

In [2]:
mydf = pd.read_csv("./data/simulation.csv")
print(f"data: {mydf.shape}")
mydf.head(2)

data: (600, 2)

         date  sales
0  2022-01-01    231
1  2022-01-02    245

In [4]:
new_DF = manipulate.create_date(mydf, 'sales', 3)
print(f"new data: {new_DF.shape}")
new_DF.head(3)

new data: (600, 31)

,date,sales,is_Friday,is_Monday,is_Saturday,is_Sunday,is_Thursday,is_Tuesday,is_Wednesday,is_April,...,is_holiday,t,t_lg,lag1,lag2,lag3,rolling_mean_7,rolling_std_7,rolling_mean_30,rolling_std_30
0,2022-01-01,231,False,False,True,False,False,False,False,False,...,0,0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-01-02,245,False,False,False,True,False,False,False,False,...,0,1,0.693147,231.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022-01-03,199,False,True,False,False,False,False,False,False,...,0,2,1.098612,245.0,231.0,0.0,0.0,0.0,0.0,0.0